* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --colorred: #ff5955;
  --colorblack: #2b2927;
  --colorblack2: #23201e;
  --colorwhite: #e5e1e1;
}

a {
  text-decoration: none;
  outline: none;
}


p {
  margin-bottom: 0;
  color: var(--colorwhite) !important;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

/* top */

.navbar {
  background-color: var(--colorblack2);
  padding-bottom: 60px;
}

.navbar-brand img {
  width: 40px;
  margin-left: 7px;
}

.nav-item a {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0px 30px;
  color: white;
  outline: none;
}

.nav-item a:focus {
  color: var(--colorred) !important;
  font-weight: bold
}

.nav-item a:last-child {
  margin-right: 0px;
}

.nav-item a:hover {
  color: var(--colorred);
}

/* work-section */
.work-section {
  background-color: var(--colorblack2);
  padding: 40px 15px;
  padding-bottom: 70px;
  color: white;
}

.work-title {
  text-align: center;
  margin-bottom: 50px;
}

.work-title h3 {
  font-weight: 600;
  line-height: 1.2;
}

.work-title a {
  display: block;
  margin-top: 50px;
  color: var(--colorred);
  font-size: 24px;
  font-weight: 500;
}

.work-items {
  padding-bottom: 5px;
  margin: 10px 5px;
}

.work-items h5 {
  font-weight: 600;
  font-size: 18px;
}

.work-img {
  position: relative;
}

.work-hover {
  display: none;
}

.work-hover:hover {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2927e1;
  color: var(--colorred);
  position: absolute;
  left: 0;
  top: 0;
}

.work-content :hover~.work-hover {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2927e1;
  color: var(--colorred);
  position: absolute;
  left: 0;
  top: 0;
}

/* contact-from */
.contact-color {
  background-color: var(--colorblack2);
  padding-bottom: 250px;
}

.contact-title {
  padding: 20px;
  color: white;
}

.contact-title h1 {
  font-size: 60px;
  text-align: center;
  line-height: 1;
  color: var(--colorred);
  margin-bottom: 140px;
}

.contact-title h2 {
  text-align: center;
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
}

.contact-title p:last-child {
  text-align: center;
}

.contact-from {
  width: 100%;
  padding: 20px;
}

.contact-from input,
textarea {
  width: 100%;
  margin: 30px auto;
  padding: 5px;
  border-bottom: 1px solid var(--colorwhite);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: var(--colorblack2);
  color: white;
}

.contact-from input[type=email],
[type=number],
textarea {
  outline: none;
}

.contact-from input[type=submit] {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--colorred);
  border-bottom: none;
}

.contact-from input[type=text]:focus {
  border-top: 1px solid var(--colorblack2);
  outline: none;
}

/* about */
.about-color {
  background-color: var(--colorblack2);
  padding-bottom: 80px;
}

.about {
  width: 70%;
  margin: auto;
}

.about-title {
  text-align: center;
  color: white;
  padding: 60px 0px;
}

.about-title h1 {
  font-size: 35px;
}

.about-description h2 {
  margin-top: 25px;
  margin-bottom: 50px;
  color: white;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.about-name {
  color: var(--colorred);
  font-weight: 600;
}

.about-description p {
  color: white;
  margin-bottom: 30px;
}

.about-portflow {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--colorred);
  color: var(--colorred);
  font-size: 16px;
  margin: 40px auto;
}

.about-portflow>div {
  padding: 10px;
}

.about-portflow>div:last-child {
  border-left: 1px solid var(--colorred);
}

/* footer */
footer {
  padding: 25px;
  background-color: var(--colorblack2);
  color: white;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid var(--colorred);
}

footer a {
  color: var(--colorred);
}


.hero {
  padding-bottom: 80px;
  background: var(--colorblack2);
}

.hero h1 {
  color: var(--colorred);
  font-weight: 700;
  font-size: 7rem;
  margin-bottom: 15px;
}

.hero p {
  color: white;
  font-size: 24px;
  line-height: 1.5;
  margin-right: 40px;
  margin-bottom: 20px;
}

.hero .see-link a,
.hero .see-link link {
  color: var(--colorred);
  font-size: 2em;
  font-weight: 400;
  display: block;
  margin-bottom: 80px;
  text-align: left;
}

.see-link span {
  border-bottom: 3px solid var(--colorred);
  padding-bottom: 2px;
}

.see-link i {
  font-size: 40px;
  width: 300px;
  font-weight: 300;
}

.brand {
  background: var(--colorblack);
}

.brand .brand-text {
  background: var(--colorblack);
  text-align: left;
}

.brand .brand-text h2 {
  color: #ffffff;
  font-size: 7em;
  padding: 10px 0px;
  text-align: left;
}

.brand .brand-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand .brand-icon span {
  position: absolute;
  top: -300px;
  left: -12px;
  color: var(--colorred);
  font-size: 52em;
  text-align: center;
  font-weight: bold;
}

.brand .brand-icon img {
  width: 100%;
}

.services {
  padding: 80px 0px;
  background-color: var(--colorblack2);
}

.services .tittle {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .tittle h2 {
  color: white;
  font-weight: bold;
  font-size: 2.2em;
}

.services .content .services-item .services-box {
  padding: 30px;
  border: 1px solid #ffffff;
}

.services .content .services-item .services-box h3 {
  color: var(--colorred);
  text-align: center;
  font-size: 22px;
}

.services .content .services-item .services-box p {
  color: #ffffff;
  text-align: center;
  margin: 20px 0px;
  font-size: 14px;
  line-height: 30px;
}

.services .content .services-item .services-box span {
  width: 100px;
  height: 1px;
  background: white;
  display: block;
  margin: auto;
}

.testimonial {
  padding-top: 100px;
  padding-bottom: 75px;
  background: var(--colorblack2);
}

.testimonial .tittle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial .tittle h2 {
  color: white;
  position: absolute;
  transform: rotate(-90deg);
  font-weight: bold;
  font-size: 2.1em;
}

.testimonial .testimonial-content {
  padding: 50px;
}

.testimonial .testimonial-content h3 {
  color: var(--colorred);
  text-align: center;
  font-size: 23px;
  font-weight: 500;
}

.testimonial .testimonial-content p {
  color: #ffffff;
  text-align: center;
  margin: 20px 0px;
  font-size: 16px;
  line-height: 25px;
}

.testimonial .carousel-inner {
  border: 1px solid #ffffff;
}

.testimonial .carousel-button {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.testimonial .carousel-button button {
  position: inherit;
  opacity: 1;
}

.testimonial .carousel-button button:first-child {
  margin-right: 30px;
}

.testimonial .carousel-button button i {
  font-size: 50px;
  color: #ffffff !important;
}

.testimonial .carousel-button button i:hover {
  color: #c7e1e1 !important;
}

.footer p {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 0px;
}

.footer .frist {
  text-align: left;
}

.footer .second {
  text-align: center;
}

.footer .third {
  text-align: right;
}

.footer .third a,
.footer .third link {
  color: var(--colorred);
}

@media (max-width:992px) {
  .services .services-item .services-box {
    margin: 30px;
  }
}

@media (min-width: 992px) {
  .hero {
    padding: 40px 0px;
    text-align: left;
  }

  .services {
    padding: 50px 0px;
  }

  .services .tittle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services .services-item .services-box {
    margin: 30px;
  }

  .services .tittle h2 {
    color: #ffffff;
    transform: rotate(-90deg);
    font-weight: bold;
    font-size: 2.2em;
  }


  .testimonial {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .testimonial .carousel-button {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .services .services-item .services-box {
    margin: 30px;
  }

}

@media only screen and (min-width: 1400px) {

  .services .services-item .services-box {
    width: 45%;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero h1 {
    font-size: 7rem;
  }

  .services .services-item .services-box {
    margin: 30px;
  }

  .brand .brand-text h2 {
    font-size: 6em;
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    margin-left: 0;
    margin-right: 0;
  }

  .hero h1 {
    font-size: 6rem;
    text-align: left;
  }

  .hero p {
    font-size: 24px;
    text-align: left;
  }

  .services .services-item .services-box {
    margin: 30px;
  }

  .hero .see-link a,
  .hero .see-link link {
    font-size: 3em;
  }

  .testimonial {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .testimonial .tittle {
    margin-bottom: 100px;
  }

  .testimonial .tittle h2 {
    text-align: center;
    transform: inherit;
  }

  .testimonial .carousel-button {
    margin-top: 50px;
  }

  .footer p {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 576px) {
  .hero {
    text-align: left;
  }

  .hero h1 {
    font-size: 3rem;
    text-align: left;
  }

  .hero p {
    font-size: 22px;
    line-height: 40px;
  }

  .hero .see-link a,
  .hero .see-link link {
    font-size: 2em;
  }

  .brand .brand-text h2 {
    font-size: 3em;
  }

  .footer .frist {
    text-align: center;
  }

  .footer .second {
    text-align: center;
  }

  .footer .third {
    text-align: center;
  }
}


/* responsive code */
@media (min-width:1400px) {}

@media (min-width:1200px) {}


@media (max-width:992px) {
  .contact-title h1 {
    font-size: 30px;
    line-height: 1;
    color: var(--colorred);
    margin-bottom: 25px;
  }

  .contact-title h2 {
    font-size: 20px;
  }

  .about {
    width: 100%;
    margin: auto;
  }
}

@media (max-width:768px) {
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }

  /* nav-bar */
  .navbar-nav {
    width: 100%;
    padding: 20px 0;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
  }

  .nav-item a {
    line-height: 2.5;
  }

  .about {
    width: 100%;
    margin: auto;
  }

  .about-title h1 {
    font-size: 24px;
  }

  .about-description h2 {
    font-size: 20px;
  }

  .work-title h3 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer>div {
    margin: 10px 0;
  }

  footer>div:nth-child(1) {
    order: 3;
  }

  footer>div:nth-child(3) {
    order: 2;
  }

  footer>div:nth-child(2) {
    order: 1;
  }
}

@media (max-width:660px) {
  .contact-title h1 {
    font-size: 27px;
    line-height: 1;
    color: var(--colorred);
    margin-bottom: 25px;
  }

}